:root {
  --text: #ffffff;
  --wall: #000000;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--wall);
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}

a {
  color: var(--tertiary);
}

span#heart {
  color: var(--danger);
}

#content {
  height: 100%;
  margin-bottom: 84vh;
  display: flex;
  justify-content: center;
}

#colorInput {
  margin-top: 2vh;
}

#playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7%;
  font-size: 15vw;
  background: var(--success);
  color: var(--light);
}

#exitButton {
  display: none;
  padding: 1%;
  text-align: center;
  line-height: 1.2;
  font-size: 2vmax;
  margin-top: 0.9vh;
  background: var(--danger);
  color: var(--light);
}

#gameCanvas {
  border: 5px solid var(--light);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
}
