:root {
  --text: #ffffff;
  --wall: #000000;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
}

body {
  color: var(--text);
  background-color: var(--wall);
  text-align: center;
  font-family: monospace;
  overflow: hidden;
}

a {
  color: var(--tertiary);
}

span#heart {
  color: var(--danger);
}

table {
  display: grid;
  justify-content: center;
}

table, tr, td {
  border-collapse: collapse;
  border: 3px solid var(--light);
  margin: 0 auto;
}

td {
  padding: 5vh;
  color: var(--text);
  background-color: var(--wall);
  transition: 0.4s;
}

td:hover {
  filter: invert();
  transition: 0.4s;
}
